<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ingredient Explorer</title>
</head>
<body>

<footer class="text-muted py-5 custom-footer">
    <div class="container">
        <button class="float-end mb-1 btn btn-secondary back-to-top">
            <a href="#">Back to top</a>
        </button>
        <div class="icons-source">
        <p>Icons:
            <br/>
        <a href="https://www.flaticon.com/free-icons/ingredient" title="ingredient icons">Ingredient icons created by surang - Flaticon</a>
            <br/>
         <a href="https://www.flaticon.com/free-icons/appetite" title="appetite icons">Appetite icons created by Freepik - Flaticon</a>
        </p>
        </div>
    </div>
</footer>
<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.js}" crossorigin="anonymous"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
</body>
</html>