<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title>Recipe Explorer</title>
</head>
<body>

<span th:replace="fragments/header :: body/content()"></span>

<main>

<h4>Alle Rezepte entdecken</h4>

    <!--- Recipe Grid ----->
    <div class="container recipes">
        <div class="row">
            <div th:each="recipe : ${recipeList}" class="col-4">
                <div class="recipe-container">
                    <span class="recipe-name" th:text="${recipe.recipeName}"></span>
                    <span class="portion-size" th:text="${recipe.portionSize}"></span>
                    <span class="rating" th:text="${recipe.ratingStars}"></span>
                </div>
            </div>

        </div>
    </div>

</main>

<span th:replace="fragments/footer :: body/content()"></span>

</body>
</html>