<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title>Recipe Explorer</title>
</head>
<body>

<span th:replace="fragments/header :: body/content()"></span>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Recipe Explorer</h1>
                <p class="lead text-muted">Keine Ahnung was du kochen sollst? Gib einfach die Zutaten ein die du hast und lerne leckere Rezepte kennen:</p>

                <!---Add ingredients--->
                <form class="input-group ingredients-form">
                    <input class="form-control rounded add-ingredient-input" placeholder="Zutat eingeben"/>
                    <button class="btn btn-outline-secondary add-ingredient">Zutat hinzufügen</button>
                </form>

                <!----- Search recipes based on ingredient list.-->
                <div class="ingredients-list">
                </div>
                <form class="input-group search-recipes" th:action="@{/search('q')}" method="get">
                    <button disabled type="submit" class="btn btn-outline-secondary submit-query">Rezepte suchen!</button>
                </form>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" th:src="@{/images/raspberries.png}" alt="Himbeeren">
                        <div class="card-body">
                            <p class="card-text">
                                Dieses Himbeer-Dessert ist die perfekte Verwendung für die Spekulatius, die du zu Hause hast.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary to-recipe">
                                        <a th:href="@{/recipe/9}">Zum Rezept!</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" th:src="@{/images/corn.png}" alt="Mais">
                        <div class="card-body">
                            <p class="card-text">
                                Mais-Käse-Puffer: eine schnelle und einfach Möglichkeit Mais aufzubrauchen!</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary to-recipe">
                                        <a th:href="@{/recipe/4567}">Zum Rezept!</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" th:src="@{/images/potato.png}" alt="Kartoffeln">
                        <div class="card-body">
                            <p class="card-text">
                                Kartoffel-Gratin: perfekt für ein paar übrig gebliebene Kartoffeln.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary to-recipe">
                                        <a th:href="@{/recipe/267}">Zum Rezept!</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<span th:replace="fragments/footer :: body/content()"></span>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>